server:
  port: 8001
  servlet:
    context-path: /user-service

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/shop?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    username: root
    password: z7763882336
    driver-class-name: com.mysql.cj.jdbc.Driver

  hikari:
    maximum-pool-size: 20
    minimum-idle: 5
    idle-timeout: 600000
    connection-timeout: 30000

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.z.user_service.domain
  configuration:
    map-underscore-to-camel-case: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
