<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.z.order_service.mapper.OrderMapper">
    <resultMap id="OrderMap" type="com.z.shop.common.Order">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="skuId" column="sku_id"/>
        <result property="qty" column="qty"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <update id="markDeducting">
        update orders
        set status = 'DEDUCTING'
        where status = 'INIT'
        and order_id = #{orderId}
    </update>

    <update id="markDeductSuccess">
        update orders
        set status = 'DEDUCT_SUCCESS'
        where status in 'DEDUCTING'
        and order_id = #{orderId}
    </update>

    <update id="markeDeductFail">
        update orders
        set status = 'DEDUCT_FAIL'
        where status = 'DEDUCTING'
        and order_id = #{orderId}
    </update>

    <update id="markCanPay">
        update orders
        set status = 'CAN_PAY'
        where status = 'DEDUCT_SUCCESS'
        and order_id = #{orderId}
    </update>

    <update id="markPayInit">
        update orders set status = 'PAY_INIT' where status in ('CAN_PAY', 'PAY_FAIL') and order_id = #{orderId}
    </update>

    <update id="markPayProcessing">
        update orders set status = 'PAY_PROCESSING' where status = 'PAY_INIT' and order_id = #{orderId}
    </update>

    <update id="markPaySuccess">
        UPDATE orders
        SET status = 'PAY_SUCCESS',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'PAY_PROCESSING'
    </update>

    <update id="markPayFAIL">
        UPDATE orders
        SET status = 'PAY_FAIL',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'PAY_PROCESSING'
    </update>

    <update id="markFinalSuccess">
        UPDATE orders
        SET status = 'FINAL_SUCCESS',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'PAY_SUCCESS'
    </update>

    <insert id="insert" parameterType="com.z.shop.common.Order">
        insert into orders(
        order_id, user_id, sku_id, qty, status, create_time, update_time)
        values(
        #{orderId}, #{userId}, #{skuId}, #{qty}, #{status}, now(), now())
    </insert>

    <select id="findById" resultMap="OrderMap">
        select
        order_id, user_id, sku_id, qty, status, create_time, update_time
        from orders where order_id = #{orderId}
    </select>

    <update id="timeoutCancel">
        UPDATE orders
        SET status = 'TIME_OUT_CANCEL',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status IN (
        'INIT',
        'DEDUCTING',
        'DEDUCT_SUCCESS',
        'CAN_PAY',
        'PAY_INIT',
        'PAY_PROCESSING',
        'PAY_FAIL'
        )
    </update>

    <update id="markRollbackInit">
        UPDATE orders
        SET status = 'ROLLBACK_INIT',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'TIME_OUT_CANCEL'
    </update>

    <update id="markRollbackProcessing">
        UPDATE orders
        SET status = 'ROLLBACK_PROCESSING',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'ROLLBACK_INIT'
    </update>

    <update id="markRollbackSuccess">
        UPDATE orders
        SET status = 'ROLLBACK_SUCCESS',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'ROLLBACK_PROCESSING'
    </update>

    <update id="markRollbackFail">
        UPDATE orders
        SET status = 'ROLLBACK_FAIL',
        update_time = NOW()
        WHERE order_id = #{orderId}
        AND status = 'ROLLBACK_PROCESSING'
    </update>

</mapper>